.container{
background-color: rgb(27, 25, 25);
width: 40vw;
height: 45vw;
padding: 0 100px;
}


.title {
    display: block;
    font-size: 70px;
    text-align: center;
    line-height: 3.5;
}

.input {
    position: relative;
    margin-bottom: 15px;
}

.input2 {
    font-size: 15px;
    color: black;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 13px;
    width: 500px;
   
}
.container-login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15%;

}
.login-form-btn {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 45px;
    background-color: #9460E9;
}
.texto {
   line-height: 3.0;
}

.criarConta {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding-top: 2px;
    
}

.esqueceuSenha {
    display: flex;
    justify-content: right;
    align-self: flex-end;
    padding-top: 2px;
    color: #9460E9;
    margin-right: 6%;
}




