.valorTotal{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
}
