.productsTitle {
  font-size: 28px;
}
.trending-products-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.grid-container{
  width: 100%;
}

.dpGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  column-gap: 80px;
  row-gap: 68px;
}