.container {
    width: 90vw;
}
.container-cadastro {
    
}
.title {
    font-size: 70px;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 70px;
   
}
.subtitulo {
    line-height: 3.5;
    text-align: left;
    font-size: 25px;
}
.input {
    position: relative;
    margin-bottom: 15px;
}

.input2 {
    font-size: 15px;
    color: black;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 13px;
    width: 500px;
}
.infoendereco .input2 {
    width: 400px;
    margin-right: 80px;
}
.input3 {
    font-size: 15px;
    color: black;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 13px;
    width: 250px;
}
.titul {
    font-size: 20px;
    margin-right: 70px;
}
.titu {
    font-size: 20px;

}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 70px;
}
.numcomple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 80px;
    
}
.divcomplemento {
    display: flex;
    flex-direction: column;
    
}
.divcomplemento input {
    width: 180px;
}
.container-login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding-top: 15%;
    margin-right: 80px;

}
.login-form-btn {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    background-color: #9460E9;
}

