.pagamentoFinalizado{
    display: flex; 
    align-items: center;
    text-align: center;
    font-size: 45px;
    margin-top: 25%;
    justify-content: center;
  }
  .pedidoNum{
    background-color: #ffffff;
    color: #808080;
    padding: 5px;
    text-align: center;
    height: 35%;
    justify-content: right;
    align-items: right;
    border-radius: 7px;
    font-size: 25px;
    width: 200px;
  }
  .pedidoNum-form{
      display: flex;
      justify-content: right;
      padding: 5%;
      margin-right: 15%;
  }
  .button{
      font-size: 20px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 40px;
      background-color: #9460E9;
      border-radius: 7px;
  }
  
  .button-form{
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      padding-top: 10%;
      margin-left: 20%;
  }
    